<!DOCTYPE HTML>
<html>
<body>   
{{data}} 
<form action="#" method="post">
    <input type="text" id="title" name="title" placeholder="title"><br>
    <input type="text" id="content" name="content" placeholder="content"><br>
    <input type="text" id="author" name="author" placeholder="author"><br>
    <input type="submit" value="submit">

    <table>
        <tr>
          <th>id</th>
          <th>title</th>
          <th>content</th>
        </tr>
        {%for i in data%}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.title}}</td>
            <td>{{i.content}}</td>
        </tr>
        {%endfor%}
    </table>



    </form>
</body>
</html>